body {
    font-family: Arial, sans-serif;
}

form {
    margin: 20px 0;
}

label {
    display: block;
    margin: 10px 0;
}

input[type="text"], input[type="password"] {
    padding: 10px;
    width: 200px;
}

.container {
    background-image: url("pictures/arc-triomf_888_1.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: relative;
  }
  
#title {
    position: absolute;
    font-size: max(3vw, 30px);
    color: white;
    text-align: center;
    margin-top: 100px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}